.post-grid-posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
    justify-content: left; */
  gap: 2rem;
}

.posts-post-wrapper {
  display: flex;
  /* //gap: 2rem; */
}
